<nav class="ink-navigation">
  <ul class="menu horizontal dark">
    <li><button data-action="new" title="Clear" class="ink-button dark"><span class="fa fa-file-o"></span></button></li>
    <li><button data-action="open" title="Load from local" class="ink-button dark"><span class="fa fa-folder-open-o"></span></button></li>
    <li><button data-action="save" title="Save to server" class="ink-button dark"><span class="fa fa-save"></span></button></li>
    <li><button data-action="syntax" title="Syntax check code" class="ink-button dark"><span class="fa fa-check-circle-o"></span></button></li>
  </ul>
</nav>

<textarea data-controller="CodeMirror">{{this}}</textarea>
