.nobreak {
  white-space: nowrap;
}
.hidden {
  display: none;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(tip);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}
.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
.ink-form select {
  padding: 0px;
}
.ink-form .control-group {
  margin: 0px;
}
.ink-form .control-group .boxed {
  padding: 0.25em;
  margin: 0.25em;
  border: 1px dotted silver;
}
ul.listing {
  list-style: none;
}
ul.listing li {
  float: left;
  width: 192px;
  border: 1px dotted silver;
  padding-bottom: 10px;
  margin-left: 8px;
}
#outlet {
  padding-bottom: 1em;
}
nav {
  z-index: 999;
}
nav.ink-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: silver;
}
.leftbar {
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
}
a {
  text-decoration: none;
}
